{% extends "base.html" %}

{% block title %}Haulage Services{% endblock %}

{% block content %}
<!-- Landing Page Content -->
<div class="jumbotron">
    
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
	    <div class="section-title">
		<h2>Services</h2>
		<div class="section-subtitle">Catalog of Services</div>
		<span class="section-separator"></span>
		<p>Browse through our services to find the one relevant to you.</p>
		<!-- Table to display the list of services -->
  		<table class="table table-bordered">
    		<thead>
      		<tr>
        	<th>Choose</th>
        <th>Home Relocation</th>
        <th>Office Relocation</th>
        <th>Store Movement</th>
        <th>Student Moves</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

      <h2>About Us</h2>
      <p>
      	eHaulage website was built to ease the stress of movement of goods.
        eHaulage provides excellent haulage services as easy and simple and affordable.
        We handle the stress of pick up and safe delivery for our customers.
        Our team is well equipped to handle all your requests.
	
	This is a Portfolio Project for Holberton School
	<a class="btn btn-secondary" href="https://www.holbertonschool.com/" role="button">Link to Holbertonschool</a>
      </p>

      <a class="btn btn-secondary" href="https://github.com/Toxylee/eHaulage_website" role="button">Link to Project Repo</a>
      
    </div>
    <div class="col-md-6">
      <h2>Team Members</h2>
      
      <h4> Tokunbo Ogunjobi</h4>
 <a class="btn btn-secondary" href="https://www.linkedin.com/in/tokunbo-ogunjobi/" role="button">Contact Tokunbo</a>
 </br>   
 <h4> Busari Olufunmilayo</h4>
    <a class="btn btn-secondary" href="https://ng.linkedin.com/in/olufunmilayo-busari-1580b9103" role="button">Contact Funmi</a>
    </br>
    <h4>Steve Ojonuba</h4>
    </br>
    <a class="btn btn-secondary" href="https://ng.linkedin.com/in/steve-ojata-6032b0229" role="button">Contact Steve</a>

    </div>
  </div>
</div>
{% endblock %}
