.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_links {
    margin-top: 23px;
    margin-right: 50px;
}
.nav_links a {
    margin-left: 20px;
    text-decoration: none;
}
.logo {
    margin-left: 30px;
}
.pick_n_src {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search_div {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.search {
    height: 60px;
    width: 80%;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
